/*------ */
/* FONTS */
/*------ */

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/*------ */
/* RESET */
/*------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Add "pointer" cursor to buttons and summary*/
button,
[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"],
summary {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/layers/repeating_layers/background_backdrop.png") no-repeat center center / cover;
}

.title {
  font-family: "Cinzel", serif;
  font-size: 64px;
  margin-top: 64px;
  text-align: center;
  font-weight: bold;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  /* text-shadow: 0 0 8px rgba(255, 230, 150, 0.6); */
  /* text-shadow: 2px 2px 0 #3e2f1c, 0 0 6px #d8c690; */
}

.subtitle {
  font-family: "Lora", serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 64px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#fullscreen.fullscreen-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./img/layers/repeating_layers/background_backdrop.png") no-repeat center center / cover;
}

canvas {
  display: block;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
