/*------ */
/* FONTS */
/*------ */

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Cinzel";
  src: url("./fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("./fonts/Lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/*------ */
/* RESET */
/*------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

/*-------- */
/* GENERAL */
/*-------- */

html {
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/layers/repeating_layers/background_backdrop.png") no-repeat center center / cover;
}

.title {
  font-family: "Cinzel", serif;
  font-size: 64px;
  margin-top: 64px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.subtitle {
  font-family: "Lora", serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 64px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

#fullscreen.fullscreen-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./img/layers/repeating_layers/background_backdrop.png") no-repeat center center / cover;
}

.fullscreen-canvas {
  width: calc(720px * 1.5);
  height: calc(480px * 1.5);
}

.game-container {
  position: relative;
}

canvas {
  display: block;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 20px;
  background: transparent;
}

.controls-container {
  display: flex;
  gap: 24px;
}

.controls-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #b9b9b9;
  background-color: black;
  border: none;
  box-shadow: 0 0 8px rgba(131, 193, 60, 0.6);
}

.controls-container button:hover,
.controls-container button.active {
  transform: scale(1.05);
  color: #83c13c;
}

.controls-container button.d-none {
  display: none;
}

.mobile-controls {
  display: none;
}

#craft-btn {
  padding: 4px;
}

.d-none {
  display: none;
}

/*-------------- */
/* MEDIA QUERIES */
/*-------------- */

@media only screen and (max-width: 720px), only screen and (max-height: 480px) {
  h1,
  h2 {
    display: none;
  }

  .mobile-controls {
    display: flex;
  }

  .controls {
    justify-content: space-between;
  }

  #fullscreen-btn {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100dvh;
    height: 100vh; /* fallback for browsers without dvh */
  }
}

@media only screen and (max-height: 768px) {
  h1,
  h2 {
    display: none;
  }
}
